* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    width: 90%;
    margin:  30px auto;
}

section img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    object-fit: cover;
    object-position: center;
}

section p {
    background: lightblue;
    padding: 20px;
    border-radius: 20px;
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    width: calc(100% - 130px);
}

section p::before {
    content: "";
    height: 0;
    border: 15px solid transparent;
    border-right: 15px solid lightblue;
    position: absolute;
    margin: auto;
    top: 0;
    left: -25px;
    bottom: 0;
}


.section-2 {
    flex-direction: row-reverse;
}

.section-2 p {
    background: rgb(94, 212, 94);
    color: white;
}

.section-2 p::before {
    left: 99%;
    border-color: transparent;
    border-left-color: rgb(94, 212, 94);
}
